@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --neon-red: #e9366e;
  --neon-orange: #ee8834;
  --neon-yellow: #cbfd50;
  --neon-sky-blue: #7dede1;
  --neon-blue: #5aa1f1;
  --gray: #484848;
}
